.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  .title {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    color: var(--light);
  }
  
  